<div class="row">
    <div class="col-2" justify-content>
    <div class="list-group">
        <app-product-form></app-product-form>
    </div>
  
    </div>
    <div class="col">
        <div class="row">
            <ng-container *ngFor="let p of products let i =index">
                <div class="col">
                    <div class="card" style="width: 25rem;">
                        <img [src]="p.imageUrl" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{p.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{p.category}}</h6>
                            <p class="card-text">{{p.description}}</p>
                            <button (click)="cardDetails(p.id)" class="btn btn-primary">Details</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="((i+1)%2===0)" class="w-100"></div>
            
             </ng-container>
        
        </div>
    </div>
</div>


